# Exploratory Data Analysis (EDA)

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
from scipy import stats
from scipy.stats import normaltest, shapiro

warnings.filterwarnings('ignore')
plt.style.use('seaborn-v0_8-darkgrid')
sns.set_palette("husl")
%matplotlib inline

pd.set_option('display.max_columns', None)
pd.set_option('display.width', None)

Matplotlib is building the font cache; this may take a moment.

### 1. Data Loading

In [3]:
columns = ['unit_id', 'time_cycles', 'op_setting_1', 'op_setting_2', 'op_setting_3'] + \
          [f'sensor_{i}' for i in range(1, 22)]
train_df = pd.read_csv('../data/raw/train_FD001.txt', sep='\s+', header=None, names=columns)
test_df = pd.read_csv('../data/raw/test_FD001.txt', sep='\s+', header=None, names=columns)
rul_df = pd.read_csv('../data/raw/RUL_FD001.txt', sep='\s+', header=None, names=['RUL'])

print("Data loaded successfully!")
print(f"Training set shape: {train_df.shape}")
print(f"Test set shape: {test_df.shape}")
print(f"RUL labels shape: {rul_df.shape}")

Data loaded successfully!
Training set shape: (20631, 26)
Test set shape: (13096, 26)
RUL labels shape: (100, 1)

### 2. Initial Data Inspection

In [4]:
print("First 5 Rows Of Data")
display(train_df.head())

print("Last 5 Rows Of Data")
display(train_df.tail())

First 5 Rows Of Data

,unit_id,time_cycles,op_setting_1,op_setting_2,op_setting_3,sensor_1,sensor_2,sensor_3,sensor_4,sensor_5,sensor_6,sensor_7,sensor_8,sensor_9,sensor_10,sensor_11,sensor_12,sensor_13,sensor_14,sensor_15,sensor_16,sensor_17,sensor_18,sensor_19,sensor_20,sensor_21
0,1,1,-0.0007,-0.0004,100.0,518.67,641.82,1589.70,1400.60,14.62,21.61,554.36,2388.06,9046.19,1.3,47.47,521.66,2388.02,8138.62,8.4195,0.03,392,2388,100.0,39.06,23.4190
1,1,2,0.0019,-0.0003,100.0,518.67,642.15,1591.82,1403.14,14.62,21.61,553.75,2388.04,9044.07,1.3,47.49,522.28,2388.07,8131.49,8.4318,0.03,392,2388,100.0,39.00,23.4236
2,1,3,-0.0043,0.0003,100.0,518.67,642.35,1587.99,1404.20,14.62,21.61,554.26,2388.08,9052.94,1.3,47.27,522.42,2388.03,8133.23,8.4178,0.03,390,2388,100.0,38.95,23.3442
3,1,4,0.0007,0.0000,100.0,518.67,642.35,1582.79,1401.87,14.62,21.61,554.45,2388.11,9049.48,1.3,47.13,522.86,2388.08,8133.83,8.3682,0.03,392,2388,100.0,38.88,23.3739
4,1,5,-0.0019,-0.0002,100.0,518.67,642.37,1582.85,1406.22,14.62,21.61,554.00,2388.06,9055.15,1.3,47.28,522.19,2388.04,8133.80,8.4294,0.03,393,2388,100.0,38.90,23.4044

Last 5 Rows Of Data

,unit_id,time_cycles,op_setting_1,op_setting_2,op_setting_3,sensor_1,sensor_2,sensor_3,sensor_4,sensor_5,sensor_6,sensor_7,sensor_8,sensor_9,sensor_10,sensor_11,sensor_12,sensor_13,sensor_14,sensor_15,sensor_16,sensor_17,sensor_18,sensor_19,sensor_20,sensor_21
20626,100,196,-0.0004,-0.0003,100.0,518.67,643.49,1597.98,1428.63,14.62,21.61,551.43,2388.19,9065.52,1.3,48.07,519.49,2388.26,8137.60,8.4956,0.03,397,2388,100.0,38.49,22.9735
20627,100,197,-0.0016,-0.0005,100.0,518.67,643.54,1604.50,1433.58,14.62,21.61,550.86,2388.23,9065.11,1.3,48.04,519.68,2388.22,8136.50,8.5139,0.03,395,2388,100.0,38.30,23.1594
20628,100,198,0.0004,0.0000,100.0,518.67,643.42,1602.46,1428.18,14.62,21.61,550.94,2388.24,9065.90,1.3,48.09,520.01,2388.24,8141.05,8.5646,0.03,398,2388,100.0,38.44,22.9333
20629,100,199,-0.0011,0.0003,100.0,518.67,643.23,1605.26,1426.53,14.62,21.61,550.68,2388.25,9073.72,1.3,48.39,519.67,2388.23,8139.29,8.5389,0.03,395,2388,100.0,38.29,23.0640
20630,100,200,-0.0032,-0.0005,100.0,518.67,643.85,1600.38,1432.14,14.62,21.61,550.79,2388.26,9061.48,1.3,48.20,519.30,2388.26,8137.33,8.5036,0.03,396,2388,100.0,38.37,23.0522

In [5]:
print("Data Information")
train_df.info()

Data Information
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20631 entries, 0 to 20630
Data columns (total 26 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   unit_id       20631 non-null  int64
 1   time_cycles   20631 non-null  int64
 2   op_setting_1  20631 non-null  float64
 3   op_setting_2  20631 non-null  float64
 4   op_setting_3  20631 non-null  float64
 5   sensor_1      20631 non-null  float64
 6   sensor_2      20631 non-null  float64
 7   sensor_3      20631 non-null  float64
 8   sensor_4      20631 non-null  float64
 9   sensor_5      20631 non-null  float64
 10  sensor_6      20631 non-null  float64
 11  sensor_7      20631 non-null  float64
 12  sensor_8      20631 non-null  float64
 13  sensor_9      20631 non-null  float64
 14  sensor_10     20631 non-null  float64
 15  sensor_11     20631 non-null  float64
 16  sensor_12     20631 non-null  float64
 17  sensor_13     20631 non-null  float64
 18  sensor_14     20631 non-null  float64
 19  sensor_15     20631 non-null  float64
 20  sensor_16     20631 non-null  float64
 21  sensor_17     20631 non-null  int64
 22  sensor_18     20631 non-null  int64
 23  sensor_19     20631 non-null  float64
 24  sensor_20     20631 non-null  float64
 25  sensor_21     20631 non-null  float64
dtypes: float64(22), int64(4)
memory usage: 4.1 MB

In [6]:
print("Missing Values Check")
missing = train_df.isnull().sum()
if missing.sum() == 0:
    print("No missing values found!")
else:
    print(missing[missing > 0])

Missing Values Check
No missing values found!

In [7]:
print("Duplicate Check")
duplicates = train_df.duplicated().sum()
print(f"Number of duplicate rows: {duplicates}")
if duplicates > 0:
    print("Warning: Duplicates found!")
else:
    print("No duplicates found!")

Duplicate Check
Number of duplicate rows: 0
No duplicates found!

### 3. Statistical Summary

In [8]:
print("Statistical Summary")
display(train_df.describe().T)

Statistical Summary

,count,mean,std,min,25%,50%,75%,max
unit_id,20631.0,51.506568,2.922763e+01,1.0000,26.0000,52.0000,77.0000,100.0000
time_cycles,20631.0,108.807862,6.888099e+01,1.0000,52.0000,104.0000,156.0000,362.0000
op_setting_1,20631.0,-0.000009,2.187313e-03,-0.0087,-0.0015,0.0000,0.0015,0.0087
op_setting_2,20631.0,0.000002,2.930621e-04,-0.0006,-0.0002,0.0000,0.0003,0.0006
op_setting_3,20631.0,100.000000,0.000000e+00,100.0000,100.0000,100.0000,100.0000,100.0000
sensor_1,20631.0,518.670000,0.000000e+00,518.6700,518.6700,518.6700,518.6700,518.6700
sensor_2,20631.0,642.680934,5.000533e-01,641.2100,642.3250,642.6400,643.0000,644.5300
sensor_3,20631.0,1590.523119,6.131150e+00,1571.0400,1586.2600,1590.1000,1594.3800,1616.9100
sensor_4,20631.0,1408.933782,9.000605e+00,1382.2500,1402.3600,1408.0400,1414.5550,1441.4900
sensor_5,20631.0,14.620000,1.776400e-15,14.6200,14.6200,14.6200,14.6200,14.6200
sensor_6,20631.0,21.609803,1.388985e-03,21.6000,21.6100,21.6100,21.6100,21.6100
sensor_7,20631.0,553.367711,8.850923e-01,549.8500,552.8100,553.4400,554.0100,556.0600
sensor_8,20631.0,2388.096652,7.098548e-02,2387.9000,2388.0500,2388.0900,2388.1400,2388.5600
sensor_9,20631.0,9065.242941,2.208288e+01,9021.7300,9053.1000,9060.6600,9069.4200,9244.5900
sensor_10,20631.0,1.300000,0.000000e+00,1.3000,1.3000,1.3000,1.3000,1.3000
sensor_11,20631.0,47.541168,2.670874e-01,46.8500,47.3500,47.5100,47.7000,48.5300
sensor_12,20631.0,521.413470,7.375534e-01,518.6900,520.9600,521.4800,521.9500,523.3800
sensor_13,20631.0,2388.096152,7.191892e-02,2387.8800,2388.0400,2388.0900,2388.1400,2388.5600
sensor_14,20631.0,8143.752722,1.907618e+01,8099.9400,8133.2450,8140.5400,8148.3100,8293.7200
sensor_15,20631.0,8.442146,3.750504e-02,8.3249,8.4149,8.4389,8.4656,8.5848
sensor_16,20631.0,0.030000,1.387812e-17,0.0300,0.0300,0.0300,0.0300,0.0300
sensor_17,20631.0,393.210654,1.548763e+00,388.0000,392.0000,393.0000,394.0000,400.0000
sensor_18,20631.0,2388.000000,0.000000e+00,2388.0000,2388.0000,2388.0000,2388.0000,2388.0000
sensor_19,20631.0,100.000000,0.000000e+00,100.0000,100.0000,100.0000,100.0000,100.0000
sensor_20,20631.0,38.816271,1.807464e-01,38.1400,38.7000,38.8300,38.9500,39.4300
sensor_21,20631.0,23.289705,1.082509e-01,22.8942,23.2218,23.2979,23.3668,23.6184

In [9]:
print("Data Distribution Metrics")

distribution_stats = pd.DataFrame({
    'skewness': train_df.skew(),
    'kurtosis': train_df.kurtosis()
})

print("\nSkewness interpretation:")
print("  < -1 or > 1: Highly skewed")
print("  -1 to -0.5 or 0.5 to 1: Moderately skewed")
print("  -0.5 to 0.5: Approximately symmetric")
print("\nKurtosis interpretation:")
print("  > 3: Heavy tails (more outliers)")
print("  = 3: Normal distribution")
print("  < 3: Light tails (fewer outliers)")

display(distribution_stats)

Data Distribution Metrics

Skewness interpretation:
  < -1 or > 1: Highly skewed
  -1 to -0.5 or 0.5 to 1: Moderately skewed
  -0.5 to 0.5: Approximately symmetric

Kurtosis interpretation:
  > 3: Heavy tails (more outliers)
  = 3: Normal distribution
  < 3: Light tails (fewer outliers)

              skewness   kurtosis
unit_id      -0.067815  -1.219824
time_cycles   0.499904  -0.218539
op_setting_1 -0.024766  -0.009132
op_setting_2  0.009085  -1.130447
op_setting_3  0.000000   0.000000
sensor_1      0.000000   0.000000
sensor_2      0.316526  -0.112043
sensor_3      0.308946   0.007762
sensor_4      0.443194  -0.163681
sensor_5      0.000000   0.000000
sensor_6     -6.916813  45.846746
sensor_7     -0.394329  -0.157949
sensor_8      0.479411   0.333149
sensor_9      2.555365   9.378681
sensor_10     0.000000   0.000000
sensor_11     0.469329  -0.172192
sensor_12    -0.442407  -0.144917
sensor_13     0.469792   0.387244
sensor_14     2.372554   8.854664
sensor_15     0.388259  -0.121430
sensor_16     0.000000   0.000000
sensor_17     0.353126  -0.039174
sensor_18     0.000000   0.000000
sensor_19     0.000000   0.000000
sensor_20    -0.358445  -0.112829
sensor_21    -0.350375  -0.117039